#player-select-panel {

    .header {

        margin-top: 1rem;
        margin-bottom: 1rem;

        color: rgb(62, 220, 62);
        font-size: 3rem;
        
    }

    #player-types-form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .input-fields {
        display: flex;
        direction: row;
        justify-content: space-around;
    }

    .drop-down {
        margin: 0.5rem;
        font-size: 2rem;

        border-style: solid;
        border-color: rgb(62, 220, 62);

        background-color: black;

        color: rgb(62, 220, 62);

        option {
            background-color: rgb(4, 60, 4);
        }
    }

    .submit-button {
        margin: 0.5rem;
        margin-top: 1rem;

        width: 6rem;

        border-style: solid;
        border-color: rgb(62, 220, 62);

        background-color: black;

        color: rgb(62, 220, 62);
        font-size: 1.5rem;
    }

}